#scene {
    width:750px;
    height:550px;
    background:url("bg.png");
    position:relative;
    user-select:none; 
}
 #hammer {
     position:absolute;
     top:0;
     left:0;
     margin-top:-40px;
     margin-left:-40px;
     cursor:none;
     user-select:none; /*取消对图片的选择，即多次点击是不会选中图片*/
     z-index:999;
    }
 #hollow1,#hollow2,#hollow3,#hollow4,#hollow5,#hollow6,#hollow7,#hollow8,#hollow9 {
     width:102px;
     height:103px;
     
     position:absolute;
     /* z-index:1; */
     overflow:hidden;
    /*  border:1px solid black; */
 }
 #hollow1 {
    top:170px;
    left:140px;
 }
 #hollow2 {
     top:170px;
     left:330px;
     
 }
 #hollow3 {
    top:170px;
    left:530px;
    
}
#hollow4 {
    top:260px;
    left:115px;
    
}
#hollow5 {
    top:260px;
    left:330px;
    
}
#hollow6 {
    top:260px;
    left:530px;
    
}
#hollow7 {
    top:360px;
    left:110px;
    
}
#hollow8 {
    top:360px;
    left:340px;
    
}
#hollow9 {
    top:360px;
    left:550px;
    
}
 #hollow1 img {
     position:absolute;
     /* border:1px solid black; */
     top:102px;
     left:0;
    
   
 }
 #hollow2 img {
     position:absolute;
     top:102px;
     left:0;
 }
 #hollow3 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow4 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow5 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow6 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow7 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow8 img {
    position:absolute;
    top:102px;
    left:0;
}
#hollow9 img {
    position:absolute;
    top:102px;
    left:0;
}